@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Caveat:wght@600&family=Kanit&family=Montserrat+Alternates&family=Montserrat:wght@800&family=Orelega+One&family=Roboto+Mono:wght@300;400&family=Ubuntu:wght@300&display=swap');
html{
  scroll-behavior:smooth;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
h2,h3,p{
    color:antiquewhite;
    font-family: 'Roboto Mono', monospace;
}
 .about-content {
    height:100vh;
    background-image: url(img/photo1.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding:0;
 }
.about-content{
    color:whitesmoke;
    justify-content: center;
  align-items: center;
  text-align: center;
font-size: 2.3rem;
  position: relative;
  display: flex;
  min-height: 50vh;
  cursor: pointer;
}
h2 span{
    
    filter: blur(5px);
    padding:0 5px;
    transition: 0.5s;
    letter-spacing: 7px;
}
h2 span:hover{
    filter: blur(0px);
    transition: 0s;
}
h2 span i{
    position:absolute;
    inset:0;
    background:transparent;
   }
h2 span:hover i::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:2px;
    height:8px;
background:white;
box-shadow:0 53px #fff, 36px 53px #fff,36px 0 #fff;
transition: 0.5s;

}

h2 span:hover i::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:8px;
    height:2px;
background:white;
box-shadow:0 60px #fff, 30px 60px #fff,30px 0 #fff;
}
.content2{
    color:rgb(225, 245, 209);
    justify-content: center;
  align-items: center;
  text-align: center;
font-size: 1rem;
  position: relative;
  display: flex;
  bottom:170px;
  }


body{
    line-height:1.6;
    background-color: black;
}

.btn {
    background: rgb(217, 239, 107);
border:none;
display:block;
width:150px;
text-align: center;
color:rgb(217, 239, 107);
text-transform: uppercase;
background : transparent;
padding:12px;
border: 2px solid rgb(217, 239, 107);
border-radius: 25px;
margin: 15px 0;
transition: var(--transition);
text-decoration: none;
}

.btn:hover{
    background: rgb(217, 239, 107);
    color:#111;
}
/* .active{
    color:var(--lightGreen)!important;

} */
.brand-name, .name{
    color:rgb(217, 239, 107);
letter-spacing: 5px;
font-size:2rem;
font-family: 'Montserrat Alternates', sans-serif;
}
blockquote{
    font-size: 20px;
    font-weight: 300;
    opacity: 0.9;
    width: 60vw;
    margin: 30px auto 15px auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }
  
  .image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-grid-col-2 {
    grid-column: span 2;
  }
  
  .image-grid-row-2 {
    grid-row: span 2;
  }
  
  /* Anything udner 1024px */
/*   @media screen and (max-width: 1024px) {
    .image-grid {
      --num-cols: 2;
      --row-height: 200px;
    } */
  }

  /* portfolio */
  #portfolio{
    
    /* background:radial-gradient(rgb(73, 73, 73),black); */
   
  }
  .flip-card {
    background-color: transparent;
    width: 230px;
    height: 200px;
    perspective: 1000px;
top:30px;
    border-radius: 40px;
  }
  .flip-card img{
    justify-content:center;
    align-items:center;
    align-content: center;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    
    left:550px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background:radial-gradient(white,black);
    color: #111;
    transform: rotateY(180deg);
  }
  .flip-card-back .text, .text2{
    color:#111;
  }

  .footer p{
text-align: center;
justify-content: center;
  }
  footer{
    height:25vh;
    position: relative;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    background-image: url(img/photo19.webp);
    background-repeat: no-repeat;
    background-size: cover;

  }
footer .icons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px 0;
  flex-wrap: wrap;
}
footer .icons li, .menu li{
  list-style: none;
;
}
footer .icons li a {
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  color:wheat;
  margin:0 10px;
  display:inline-block;
  transition: 0.5s;
  justify-content: center;
  align-items: center;

}
footer .icons li a:hover{
  transform: translateY(-15px);
}
footer .menu li {
 
  font-size: 2rem;
  font-family: 'Caveat', cursive;
  margin:0 10px;
  display:inline-block;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  
}
footer .menu li a{
  color:black;
}
footer .menu li a:hover{
  opacity: 1;
}
.container{
  justify-content: center;
  align-items: center;
  text-align: center;
}
form #name, #email, #message{
  width:200px;
  height:40px;
  background-color: #fff;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  justify-content: space-between;
}
#send{
  width:70px;
  height:30px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 10px;
}
.feed h3, p, .subs{
  align-items: center;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 480px){
  html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
  }
}
